plotly
setuptools
pandas
matplotlib
numpy
opencv-python-headless
Pillow
scikit-image
scikit-learn
huggingface-hub
timm
ultralytics
langchain_cohere
langchain
faiss_cpu
tensorflow
langchain-text-splitters
langchain_community
