@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  /*font-family: 'Roboto';*/
  color:rgb(110, 110, 110);
}
h1{
  font-size: 2.5rem;
  font-weight: 600;
  color: #b3b1b1;
}
h2{
  font-size: 1.8rem;
  font-weight: 500;
  color: #b3b1b1;
  text-align: center;
}
  .bd{
    width: 20rem;
    height: auto;
    border-radius: 20%;
    margin: 3rem;
  }
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*margin-top: 2rem;*/
}
.social-icon {
  width: 25px;
  height: 25px;
  margin-top: 15px;
  margin-right: 10px;
}